# Created by https://www.gitignore.io/api/virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
/venv/
/files/
/2ckassHistory/
/3ckassHistory/
/files/
/models/
/my_model/
TA_Lib-0.4.24-cp39-cp39-win_amd64.whl
TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
pip-selfcheck.json
__pycache__/
learning.spec

# End of https://www.gitignore.io/api/virtualenv
